[submodule "gtest_sample2/lib/googletest"]
	path = gtest_sample2/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "gtest_sample2_dylib/lib/googletest"]
	path = gtest_sample2_dylib/lib/googletest
	url = https://github.com/google/googletest.git
